exportPattern("^[[:alpha:]]+")
importFrom("stats", "chisq.test", "confint", "lm", "t.test")
importFrom("ggplot2", "ggplot")
importFrom("gridExtra", "grid.arrange")
importFrom("dplyr", "filter")
export(chiassumptions)
export(chihypothesis)
export(chiconclusion)
export(chidecision)
export(chifit)
export(mychitest)
export(lmassumptions)
export(lmhypothesis)
export(lmconclusion)
export(lmdecision)
export(lmfit)
export(mylmtest)
export(tassumptions)
export(thypothesis)
export(tconclusion)
export(tdecision)
export(tfit)
export(myttest)
